<%- include('layout/header')%>

<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4">
           <div class="card shadow">
               <div class="card-header bg-primary">
                   <h3 class="text-light">Thêm Ảnh Mới </h3>
               </div>
               <div class="card-body p-4">
                   <form action="/add" method="post" id="add-form" enctype="multipart/form-data">
                       <div class="mb-3">
                           <label for="name">Name</label>
                           <input type="text" name="name" class="form-control-lg"
                           placeholder="Enter" required>
                       </div>
                       <div class="mb-3">
                           <label for="email">Ngày Tháng</label>
                           <input type="text" name="email" class="form-control form-control-lg"
                           placeholder="Ngày" required>
                       </div>
                       <div class="mb-3">
                           <label for="phone">Link Ảnh</label>
                           <input type="text" name="phone" class="form-control form-control-lg"
                                  placeholder="Link" required>
                       </div>
                       <div class="mb-3">
                           <label for="image" class="form-label">CHon Hinh</label>
                           <input type="file" name="image" class="form-control form-control-lg"
                                   required multiple>
                       </div>
                       <div class="mb-3 d-grid">
                           <input type="submit" name="sumbit" value="Add User" class="btn btn-primary btn-lg">
                             </div>
                   </form>
               </div>
           </div>
        </div>
    </div>
</div>
<%- include('layout/header')%>